In [12]:
print(2,3,4,5,"psl",sep="*",end="\t")
print("hello")

2*3*4*5*psl	hello

In [11]:
name="Abdul Basit"
name="Pakistan"
print(name)

Pakistan

In [25]:
value=100;
print(value)

100

In [27]:
 value = 10
type(value)

int

In [28]:
no_1=input("enter an integer")
no_2=input("enter an integer")
print(no_1,no_2)

enter an integer1
enter an integer2
1 2

In [29]:
print(type(no_1))

<class 'str'>

In [32]:
print(int(no_1),int(no_2))

1 2

In [37]:
n1=int(input("enter first number"))
n2=int(input("enter second number"))
print(n1+n2)
# type cast

enter first number9
enter second number4
13

In [40]:
n3=input("enter first number")
n4=input("enter second number")
print(int(n3)+int(n4))

enter first number8
enter second number3
11

In [48]:
whats_left_over=10%3
whats_left_over

1

In [49]:
whats_left_over=10//3
whats_left_over

3

In [53]:
a=15
b=4
marks=a//b
marks

3

In [56]:
total_cost=1+(3*4)
total_cost

13

In [59]:
result_of_computation=((2*4)*4)+2.
result_of_computation

34.0

In [60]:
solve=1/2+3//3+4**2
solve

17.5

In [65]:
species="cat"
if species=="cat":
    print("Yes, its cat")

Yes, its cat

In [78]:
if 2+2==4:
    print("Hello")
    print("ok")

Hello
ok

In [79]:
if 2+2==22:
    print("Hello")
    print("ok")
print("not ok")

not ok

In [84]:
n5=int(input("enter a number"))
if n5%2==0:
    print("Even")

enter a number6
Even

In [94]:
num=int(input("enter number"))
if num%2==0:
    print(str(num),"number is even")
else:
    print(str(num),"number is odd")

enter number57
57 number is odd

In [96]:
a=2
print(str(a)+str(a))

22

In [97]:
a=2
print(a+a)

4

In [99]:
num=int(input("enter number"))
if num%2==0:
    print(num,"number is even")
else:
    print(num,"number is odd")

enter number29
29 number is odd